<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <link rel="stylesheet" href="/static/css/uikit.min.css">
    <link rel="stylesheet" href="/static/css/uikit.gradient.min.css">
    <!--<link rel="stylesheet" href="/static/css/font-awesome.min.css" />-->
    <!--<link href="https://cdn.bootcss.com/uikit/3.0.0-beta.35/css/uikit.min.css" rel="stylesheet">-->
    <!--<link href="https://cdn.bootcss.com/uikit/3.0.0-beta.35/css/uikit-rtl.min.css" rel="stylesheet">-->

    <script src="/static/js/jquery1.12.4.min.js"></script>
    <script src="/static/js/md5.js"></script>
    <script src="/static/js/uikit.min.js"></script>
    <script src="/static/js/uikit-icons.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <!--<script src="https://cdn.bootcss.com/uikit/3.0.0-beta.35/js/uikit.min.js"></script>-->
    <!--<script src="https://cdn.bootcss.com/uikit/3.0.0-beta.35/js/uikit-icons.min.js"></script>-->
    {% block beforehead %}<!-- before head  -->{% endblock %}
    <script>
        var host = 'http://127.0.0.1:9000';
        function postApi(url, data, fn) {
            return $.ajax(host + url, {
                type: "POST",
                data: data,
                crossDomainma:true,
                success:fn
            });
        }
        function getApi(url, fn) {
            return $.get(host + url, fn)
        }
        function deleteApi(url, fn) {
           return $.ajax(host + url, {
                type: "DELETE",
                crossDomainma:true,
                complete:fn
            });
        }
        function patchApi(url, data, fn) {
            return $.ajax(host + url, {
                type: "PATCH",
                data: data,
                crossDomainma:true,
                success:fn
            });
        }
        function showError(err) {
            alert(err)
        }
    </script>
    <style>
        .head_line {
            line-height:50px;
            padding-top:10px;
            font-size:30px;
        }
        /*.login {*/
            /*float: right;*/
            /*width:300px;*/
        /*}*/
       .bg_red {
           background-color: #f00;
       }
        .bg_green {
            background-color: #0f0;
        }
    </style>
</head>
<body>
    <nav class="uk-navbar uk-navbar-attached uk-margin-bottom">
        <div class="uk-container ">
            <div class="uk-grid">

                    <a href="/" class="uk-navbar-brand head_line">Awesome</a>

                <div class=" ">
                    <ul class="uk-navbar-nav">
                        <li data-url="blogs"><a href="/"><i class="uk-icon-home" uk-icon="icon: home"></i> 日志</a></li>
                        <li><a target="_blank" href="#"><i class="uk-icon-book" uk-icon="icon: bookmark"></i> 教程</a></li>
                        <li><a target="_blank" href="#"><i class="uk-icon-code" uk-icon="icon: code"></i> 源码</a></li>
                    </ul>
                </div>
                <div class="login">

                        <ul class="uk-navbar-nav">
                        {% if user %}
                            <li class="">
                                <a href="#0"><i class="uk-icon-user"  uk-icon="icon: user"></i> {{ user.name }}</a>
                                <div uk-dropdown class="uk-dropdown-navbar">
                                    <ul class="uk-nav ">
                                        <li><a  onclick="signout()"><i class="uk-icon-sign-out"  uk-icon="icon: sign-out"></i> 登出</a></li>
                                    </ul>
                                </div>
                            </li>
                        {% else %}
                            <li><a href="/login"><i class="uk-icon-sign-in"  uk-icon="icon: sign-in"></i> 登陆</a></li>
                            <li><a href="/register"><i class="uk-icon-edit"  uk-icon="icon: file-edit"></i> 注册</a></li>
                        {% endif %}
                        </ul>

                </div>
            </div>


        </div>
    </nav>
    <script>
        function signout() {
            deleteApi('/api/authenticate', success_cb);
            return false;
        }

        function success_cb(res, textStatus, jqXHR) {
            res = JSON.parse(res)
            if (res.status) {
                cookie = jqXHR.getResponseHeader('cookie')
                expires = jqXHR.getResponseHeader('expires')
                console.log(cookie)
                if (cookie) {
                    document.cookie = cookie + ';' + 'expires'
                    window.location.href = "http://127.0.0.1:9000"
                }
            }
        }

    </script>

    <div class="uk-container uk-container-center">
        <div class="uk-grid">
            <!-- content -->
            {% block content %}
            {% endblock %}
            <!-- // content -->
        </div>
    </div>

    <div class="uk-margin-large-top" style="background-color:#eee; border-top:1px solid #ccc;">
        <div class="uk-container uk-container-center uk-text-center">
            <div class="uk-panel uk-margin-top uk-margin-bottom">
                <p>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-weibo"  uk-icon="icon: youtube"></a>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-github"  uk-icon="icon: github"></a>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-linkedin-square"  uk-icon="icon: facebook"></a>
                    <a target="_blank" href="#" class="uk-icon-button uk-icon-twitter"  uk-icon="icon: twitter"></a>
                </p>
                <p>Powered by <a href="#">Awesome Python Webapp</a>. Copyright &copy; 2017. [<a href="/manage/blogs" target="_blank">Manage</a>]</p>
                <p><a href="http://www.liaoxuefeng.com/" target="_blank">www.liaoxuefeng.com</a>. All rights reserved.</p>
                <a target="_blank" href="#"><i class="uk-icon-html5"  uk-icon="icon: html5" style="font-size:64px; color: #444;"></i></a>
            </div>
        </div>
    </div>
</body>
</html>