{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block beforehead %}
<style>
    pre {
        white-space: pre-wrap!important;    /*保留空白，进行换行*/
    }
</style>
{% endblock %}
{% block content %}

    <div class="uk-width-3-4@m">

        <article class="uk-article">
            <h2><a href="/blog/{{ blog.id }}">{{ blog.name }}</a></h2>
            <p class="uk-article-meta">发表于{{ blog.created_at |datetime}}</p>
            <p><pre>{{ blog.content }}</pre></p>

        </article>


    </div>

    <div class="uk-width-expand@m">
        <div class="uk-panel uk-panel-header">
            <h3 class="uk-panel-title">友情链接</h3>
            <ul class="uk-list uk-list-divider">
                <li><i class="uk-icon-thumbs-o-up" uk-icon="icon:heart"></i> <a target="_blank" href="#">编程</a></li>
                <li><i class="uk-icon-thumbs-o-up" uk-icon="icon:heart"></i> <a target="_blank" href="#">读书</a></li>
                <li><i class="uk-icon-thumbs-o-up" uk-icon="icon:heart"></i> <a target="_blank" href="#">Python教程</a></li>
                <li><i class="uk-icon-thumbs-o-up" uk-icon="icon:heart"></i> <a target="_blank" href="#">Git教程</a></li>
            </ul>
        </div>
    </div>

{% endblock %}