{% extends '__base__.html' %}

{% block title %}{{action}}{% endblock %}

{% block beforehead %}

<script>
var vm;

$(function () {
    vm = new Vue({
        el: '#form-blog',
        data: {
            name: '',
            summary: '',
            content: ''
        },
        methods: {
            submit: function (event) {
                data = {
                    name: this.name,
                    summary: this.summary,
                    content: this.content,
                }
                console.log(this.content)
                postApi('/api/blogs', data, function (res, message) {
                    res = JSON.parse(res)
                    console.log(res)
                    if (res.status == 0) {
                        return showError(res.message);
                    }
                    location.assign('/manage/blogs')
                })
            }
        }
    });
});
</script>
{% endblock %}

{% block content %}
<div class="uk-width-1-1">
    <form id="form-blog" v-on:submit.prevent="submit" class="uk-form uk-form-stacked">
        <fieldset class="uk-fieldset">
            <legend class="uk-legend">{{ action }}</legend>
            <div class="uk-margin">
                <input class="uk-input" v-model="name"  type="text" placeholder="标题">
            </div>
            <div class="uk-margin">
                <textarea class="uk-textarea" v-model="summary"  rows="4" placeholder="摘要"></textarea>
            </div>

            <div class="uk-margin">
                <textarea class="uk-textarea" v-model="content" rows="15"  placeholder="内容"></textarea>
            </div>
            <div class="uk-margin">
                 <button type="submit" class="uk-button uk-button-primary" >提交</button>
            </div>

        </fieldset>
    </form>
</div>
{% endblock %}
